<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoming.dao.MyLightMapper">
  <resultMap id="BaseResultMap" type="com.xiaoming.model.MyLight">
    <constructor>
      <idArg column="light_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="light_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="light_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="light_casts_shadow" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="light_position_x" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="light_position_y" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="light_position_z" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="light_color" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="light_intensity" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="scene_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    light_id, light_title, light_type, light_casts_shadow, light_position_x, light_position_y, 
    light_position_z, light_color, light_intensity, scene_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.xiaoming.model.MyLightExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from light
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from light
    where light_id = #{lightId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from light
    where light_id = #{lightId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaoming.model.MyLightExample">
    delete from light
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaoming.model.MyLight">
    insert into light (light_id, light_title, light_type, 
      light_casts_shadow, light_position_x, light_position_y, 
      light_position_z, light_color, light_intensity, 
      scene_id, create_time, update_time
      )
    values (#{lightId,jdbcType=INTEGER}, #{lightTitle,jdbcType=VARCHAR}, #{lightType,jdbcType=VARCHAR}, 
      #{lightCastsShadow,jdbcType=CHAR}, #{lightPositionX,jdbcType=REAL}, #{lightPositionY,jdbcType=REAL}, 
      #{lightPositionZ,jdbcType=REAL}, #{lightColor,jdbcType=VARCHAR}, #{lightIntensity,jdbcType=REAL}, 
      #{sceneId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoming.model.MyLight">
    insert into light
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lightId != null">
        light_id,
      </if>
      <if test="lightTitle != null">
        light_title,
      </if>
      <if test="lightType != null">
        light_type,
      </if>
      <if test="lightCastsShadow != null">
        light_casts_shadow,
      </if>
      <if test="lightPositionX != null">
        light_position_x,
      </if>
      <if test="lightPositionY != null">
        light_position_y,
      </if>
      <if test="lightPositionZ != null">
        light_position_z,
      </if>
      <if test="lightColor != null">
        light_color,
      </if>
      <if test="lightIntensity != null">
        light_intensity,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lightId != null">
        #{lightId,jdbcType=INTEGER},
      </if>
      <if test="lightTitle != null">
        #{lightTitle,jdbcType=VARCHAR},
      </if>
      <if test="lightType != null">
        #{lightType,jdbcType=VARCHAR},
      </if>
      <if test="lightCastsShadow != null">
        #{lightCastsShadow,jdbcType=CHAR},
      </if>
      <if test="lightPositionX != null">
        #{lightPositionX,jdbcType=REAL},
      </if>
      <if test="lightPositionY != null">
        #{lightPositionY,jdbcType=REAL},
      </if>
      <if test="lightPositionZ != null">
        #{lightPositionZ,jdbcType=REAL},
      </if>
      <if test="lightColor != null">
        #{lightColor,jdbcType=VARCHAR},
      </if>
      <if test="lightIntensity != null">
        #{lightIntensity,jdbcType=REAL},
      </if>
      <if test="sceneId != null">
        #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaoming.model.MyLightExample" resultType="java.lang.Long">
    select count(*) from light
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update light
    <set>
      <if test="record.lightId != null">
        light_id = #{record.lightId,jdbcType=INTEGER},
      </if>
      <if test="record.lightTitle != null">
        light_title = #{record.lightTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.lightType != null">
        light_type = #{record.lightType,jdbcType=VARCHAR},
      </if>
      <if test="record.lightCastsShadow != null">
        light_casts_shadow = #{record.lightCastsShadow,jdbcType=CHAR},
      </if>
      <if test="record.lightPositionX != null">
        light_position_x = #{record.lightPositionX,jdbcType=REAL},
      </if>
      <if test="record.lightPositionY != null">
        light_position_y = #{record.lightPositionY,jdbcType=REAL},
      </if>
      <if test="record.lightPositionZ != null">
        light_position_z = #{record.lightPositionZ,jdbcType=REAL},
      </if>
      <if test="record.lightColor != null">
        light_color = #{record.lightColor,jdbcType=VARCHAR},
      </if>
      <if test="record.lightIntensity != null">
        light_intensity = #{record.lightIntensity,jdbcType=REAL},
      </if>
      <if test="record.sceneId != null">
        scene_id = #{record.sceneId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update light
    set light_id = #{record.lightId,jdbcType=INTEGER},
      light_title = #{record.lightTitle,jdbcType=VARCHAR},
      light_type = #{record.lightType,jdbcType=VARCHAR},
      light_casts_shadow = #{record.lightCastsShadow,jdbcType=CHAR},
      light_position_x = #{record.lightPositionX,jdbcType=REAL},
      light_position_y = #{record.lightPositionY,jdbcType=REAL},
      light_position_z = #{record.lightPositionZ,jdbcType=REAL},
      light_color = #{record.lightColor,jdbcType=VARCHAR},
      light_intensity = #{record.lightIntensity,jdbcType=REAL},
      scene_id = #{record.sceneId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoming.model.MyLight">
    update light
    <set>
      <if test="lightTitle != null">
        light_title = #{lightTitle,jdbcType=VARCHAR},
      </if>
      <if test="lightType != null">
        light_type = #{lightType,jdbcType=VARCHAR},
      </if>
      <if test="lightCastsShadow != null">
        light_casts_shadow = #{lightCastsShadow,jdbcType=CHAR},
      </if>
      <if test="lightPositionX != null">
        light_position_x = #{lightPositionX,jdbcType=REAL},
      </if>
      <if test="lightPositionY != null">
        light_position_y = #{lightPositionY,jdbcType=REAL},
      </if>
      <if test="lightPositionZ != null">
        light_position_z = #{lightPositionZ,jdbcType=REAL},
      </if>
      <if test="lightColor != null">
        light_color = #{lightColor,jdbcType=VARCHAR},
      </if>
      <if test="lightIntensity != null">
        light_intensity = #{lightIntensity,jdbcType=REAL},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where light_id = #{lightId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoming.model.MyLight">
    update light
    set light_title = #{lightTitle,jdbcType=VARCHAR},
      light_type = #{lightType,jdbcType=VARCHAR},
      light_casts_shadow = #{lightCastsShadow,jdbcType=CHAR},
      light_position_x = #{lightPositionX,jdbcType=REAL},
      light_position_y = #{lightPositionY,jdbcType=REAL},
      light_position_z = #{lightPositionZ,jdbcType=REAL},
      light_color = #{lightColor,jdbcType=VARCHAR},
      light_intensity = #{lightIntensity,jdbcType=REAL},
      scene_id = #{sceneId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where light_id = #{lightId,jdbcType=INTEGER}
  </update>
</mapper>